<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>homebrew.mxcl.sing-box</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/opt/sing-box/bin/sing-box</string>
		<string>run</string>
		<string>--config</string>
		<string>/opt/homebrew/etc/sing-box/config.json</string>
		<string>--directory</string>
		<string>/opt/homebrew/var/lib/sing-box</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>NO_PROXY</key>
		<string>*.tailscale.com,tailscale.com,controlplane.tailscale.com</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/tmp/sing-box.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/sing-box.log</string>
</dict>
</plist>
